* {
    box-sizing: border-box;

}

body{
    width: 800px;
    height: 1000px;

    margin: 10px auto;
}

fieldset {
    display: flex;
}

fieldset>div{
    margin-right: 10px;
}

.result {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    margin: 10px auto;
}

.num {
    width: 100px;
}

